* {
    padding: 0;
    margin: 0;
}
.HeaderWrapper{
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100vh;
}
.Header{
    width: 25%;
}

.title{
    text-align: center;
}