.clockwrapper{  
    height: 300px;
    width: 300px;
    margin-top: 60px ;
    background-color: 8px solid #24264b;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 50%;
    padding: 10px;
}

.clock_border{
    border: 8px solid #ce6970;
    height: 280px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    color: white;
    font-size: 80px;
}